@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    font-family: "Vazir" !important;
}

/* Fade  */
.fade-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .fade-element.visible {
        opacity: 1;
    }

/* Helper */
.bg-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
}

.dir-rtl {
    direction: rtl !important;
}

.dir-ltr {
    direction: ltr;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-10 {
    font-size: 0.6rem;
}

/* Header */
header form input::placeholder {
    color: #b2bec3 !important;
    font-size: 0.8rem;
}

/* Slider */
.swiper .swiper-wrapper .swiper-slide .caption {
    position: absolute;
    top: 10%;
    right: 10%;
}

.swiper .swiper-wrapper .swiper-slide {
    height: 500px;
}

    .swiper .swiper-wrapper .swiper-slide img {
        height: 100%;
        object-fit: cover;
    }

/* Category */
.Category .row .col .item {
    height: 150px;
    position: relative;
}

    .Category .row .col .item img {
        height: 100%;
        object-fit: cover;
    }

    .Category .row .col .item .caption {
        position: absolute;
        top: 5px;
        left: 5px;
    }

/* CategoryWithProduct */
.CategoryWithProduct li button {
    color: #636e72;
}

/* pill Tabs */
#pills-tabContent .card-body-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#pills-tabContent .card-img-container {
    position: relative;
}

    #pills-tabContent .card-img-container .discountPercent {
        position: absolute;
        top: 10px;
        left: 5px;
    }

#pills-tabContent .card-title {
    margin-bottom: 5px;
}

#pills-tabContent .card-text .text-decoration-line-through {
    opacity: 0.7;
}

/* Slider Product */
.slider-Last-Product {
    width: 80%;
    margin: 50px auto;
}

    .slider-Last-Product img {
        width: 100%;
        height: auto;
    }

.slick-slide {
    margin: 0 10px;
}

/* استایل دکمه‌های قبلی و بعدی */
.slick-prev,
.slick-next {
    z-index: 1;
    width: 40px;
    height: 40px;
    background: #007bff;
    /* رنگ آبی برای پس‌زمینه */
    border-radius: 50%;
    color: white;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    border: none;
    /* حذف حاشیه پیش‌فرض */
    outline: none;
    /* حذف حاشیه فوکوس */
}

    .slick-prev:before,
    .slick-next:before {
        font-size: 20px;
        color: white;
        /* رنگ آیکون فلش */
    }

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

    .slick-prev:hover,
    .slick-next:hover {
        background: #0056b3;
        /* رنگ آبی تیره‌تر برای هاور */
    }

    .slick-prev:active,
    .slick-next:active {
        background: #007bff;
        /* حفظ رنگ آبی در حالت کلیک */
        outline: none;
        /* حذف حاشیه کلیک */
    }

    .slick-prev:focus,
    .slick-next:focus {
        background: #007bff;
        /* حفظ رنگ آبی در حالت کلیک */
        outline: none;
        /* حذف حاشیه فوکوس */
    }


.slider-Last-Product .card-body-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.slider-Last-Product .card-img-container {
    position: relative;
}

    .slider-Last-Product .card-img-container .discountPercent {
        position: absolute;
        top: 10px;
        left: 5px;
    }

.slider-Last-Product .card-title {
    margin-bottom: 5px;
}

.slider-Last-Product .card-text .text-decoration-line-through {
    opacity: 0.7;
}

/* Products */
.countdownDiscount {
    background-color: #d63031;
    color: #dfe6e9;
}

/* Display Responsive */
/* sm */
@media (max-width: 576px) {
    .swiper .swiper-wrapper .swiper-slide {
        height: 350px;
    }

    .Category .row .col .item {
        height: 150px;
    }
}

/* md */
@media (max-width: 768px) {
}

/* lg */
@media (max-width: 992px) {
}

/* xl */
@media (max-width: 1200px) {
}

/* xxl */
@media (max-width: 1400px) {
}
