@{
}

<!-- Icon And Name-->
<div class="d-flex align-items-center justify-content-around justify-content-lg-center">
    <h4>Alireza Seyfi</h4>
    <i @@click="toggle" class="d-lg-none bi bi-x fs-3"></i>
</div>

<!-- Side Bar item-->
<div class="mt-4 List-Item">
    <ul class="list-unstyled">

        <!-- item -->
        <li class="sidebar-item ">
            <a asp-page="/index" class="sidebar-link border-solid-gray">
                <i class="bi bi-speedometer2 ms-2"></i>
                <span class="fs-8">داشبورد</span>
            </a>
        </li>

        <!-- item -->
        <li class="sidebar-item ">
            <a asp-page="/Shop/Slides/index" class="sidebar-link border-solid-gray">
                <i class="bi bi-signpost-split ms-2"></i>
                <span class="fs-8">اسلاید</span>
            </a>
        </li>

        <!-- item -->
        <li class="sidebar-item ">
            <a asp-page="/Inventory/index" class="sidebar-link border-solid-gray">
                <i class="bi bi-signpost-split ms-2"></i>
                <span class="fs-8">انبار</span>
            </a>
        </li>

        <!-- item -->
        <li class="sidebar-item ">
            <a asp-page="/Blog/ArticleCategories/index" class="sidebar-link border-solid-gray">
                <i class="bi bi-journal-text ms-2"></i>
                <span class="fs-8">مقالات</span>
            </a>
        </li>

        <!-- item -->
        <li class="sidebar-item " x-data="dropdown">

            <div @@click="toggle" class="sidebar-link border-solid-gray">
                <i class="bi bi-basket2 ms-2"></i>
                <span class="fs-8">محصولات</span>
                <i class="bi bi-chevron-down me-auto"></i>
            </div>

            <ul x-show="open" x-transition class="submenu list-unstyled">

                <li class="submenu-item">
                    <a asp-page="/Shop/ProductCategories/index" class="fs-8">
                        <i class="bi bi-tags text-secondary ms-1"></i>دسته بندی
                    </a>
                </li>

                <li class="submenu-item">
                    <a asp-page="/Shop/Product/index" class="fs-8">
                        <i class="bi bi-cart text-secondary ms-1"></i>محصولات
                    </a>
                </li>

                <li class="submenu-item">
                    <a asp-page="/Shop/ProductPicture/index" class="fs-8">
                        <i class="bi bi-file-earmark-image text-secondary ms-1"></i>گالری محصولات
                    </a>
                </li>
            </ul>

        </li>

        <!-- item -->
        <li class="sidebar-item" x-data="dropdown">

            <div @@click="toggle" class="sidebar-link border-solid-gray">
                <i class="bi bi-percent ms-2"></i>
                <span class="fs-8">سیستم تخفیفات</span>
                <i class="bi bi-chevron-down me-auto"></i>
            </div>

            <ul x-show="open" x-transition class="submenu list-unstyled">

                <li class="submenu-item">
                    <a asp-page="/Discounts/CustomerDiscount/Index" class="fs-8">
                        <i class="bi bi-person-raised-hand text-secondary ms-1"></i>تخفیف مشتری
                    </a>
                </li>

                <li class="submenu-item">
                    <a asp-page="/Discounts/ColleagueDiscount/Index" class="fs-8">
                        <i class="bi bi-perplexity text-secondary ms-1"></i>تخفیف همکاری
                    </a>
                </li>
            </ul>

        </li>

    </ul>
</div>