    <!-- Header -->
<header class="p-3 mb-3 border-bottom dir-rtl">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <i class="bi bi-apple text-danger fs-1"></i>

            <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-area="Admin" asp-page="/Index" class="nav-link px-2 link-secondary">خانه</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">محصولات</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">تماس باما</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">گزارش مشکل</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 ms-lg-3 d-flex align-items-center" method="get" asp-page="Search">
                <input type="search"
                       name="value"
                       id="value"
                       class="form-control"
                       placeholder="جستجو..."
                       aria-label="Search" />
                <button class="bg-transparent border-0 me-2 py-2 text-secondary"><i class="bi bi-search d-flex"></i></button>
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                         class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-end fs-8 mt-2" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="#">علیرضا</a></li>
                    <li><a class="dropdown-item" href="#">تنظمیات</a></li>
                    <li><a class="dropdown-item" href="#">پروفایل</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">خروج</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>