@page
@model ServiceHost.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"]    = "داشبورد";
}
<!-- Content -->
<div class="col-xl-9">

    <!-- Stats -->
    <div class="row g-4">

        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="stats-icon">
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="fs-7 text-muted">نمایش پروفایل</h6>
                            <h6 class="fw-bold mb-0 purecounter" data-purecounter-start="0"
                                data-purecounter-end="20" data-purecounter-duration="1">
                                0
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="stats-icon">
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="fs-7 text-muted">نمایش پروفایل</h6>
                            <h6 class="fw-bold mb-0 purecounter" data-purecounter-start="0"
                                data-purecounter-end="20" data-purecounter-duration="1">
                                0
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="stats-icon">
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="fs-7 text-muted">نمایش پروفایل</h6>
                            <h6 class="fw-bold mb-0 purecounter" data-purecounter-start="0"
                                data-purecounter-end="20" data-purecounter-duration="1">
                                0
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="stats-icon">
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="fs-7 text-muted">نمایش پروفایل</h6>
                            <h6 class="fw-bold mb-0 purecounter" data-purecounter-start="0"
                                data-purecounter-end="20" data-purecounter-duration="1">
                                0
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Chart 1 -->
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>چارت من</h5>
                        <div>
                            <button class="btn btn-secondary fs-10"
                                    onclick="setStyle('circle')">
                                دایره
                            </button>
                            <button class="btn btn-secondary fs-10"
                                    onclick="setStyle('star')">
                                ستاره
                            </button>
                            <!-- <button class="btn btn-secondary fs-10" onclick="setStyle(false)">حذف نقطه</button> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="ChartJs"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Progress -->
    <div class="row">

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="fw-bold mb-0">لورم ایپسوم متن</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-purple" role="progressbar"
                                 style="width: 75%;">
                                75%
                            </div>
                        </div>
                        <p class="fs-7 text-muted mt-2">لورم ایپسوم متن ساختگی</p>
                    </div>
                    <hr>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-blue" role="progressbar"
                                 style="width: 50%;">
                                50%
                            </div>
                        </div>
                        <p class="fs-7 text-muted mt-2">لورم ایپسوم متن ساختگی</p>
                    </div>
                    <hr>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar"
                                 style="width: 66%;">
                                66%
                            </div>
                        </div>
                        <p class="fs-7 text-muted mt-2">لورم ایپسوم متن ساختگی</p>
                    </div>
                    <hr>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-red" role="progressbar"
                                 style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                                 aria-valuemax="100">
                                45%
                            </div>
                        </div>
                        <p class="fs-7 text-muted mt-2">لورم ایپسوم متن ساختگی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="fw-bold mb-0">آخرین کامنت ها</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <td>تصویر</td>
                                    <td>نام کاربری</td>
                                    <td>کامنت</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="~/admin_temp/images/4.jpg" alt=""
                                             class="img-fluid rounded-circle" width="35">
                                    </td>
                                    <td class="text-muted fs-8">علیرضا صیفی</td>
                                    <td class="text-muted fs-8">فقط تست هست </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/admin_temp/images/4.jpg" alt=""
                                             class="img-fluid rounded-circle" width="35">
                                    </td>
                                    <td class="text-muted fs-8">علیرضا</td>
                                    <td class="text-muted fs-8">فقط تست هست </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/admin_temp/images/4.jpg" alt=""
                                             class="img-fluid rounded-circle" width="35">
                                    </td>
                                    <td class="text-muted fs-8">علیرضا</td>
                                    <td class="text-muted fs-8">فقط تست هست </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/admin_temp/images/4.jpg" alt=""
                                             class="img-fluid rounded-circle" width="35">
                                    </td>
                                    <td class="text-muted fs-8">علیرضا</td>
                                    <td class="text-muted fs-8">فقط تست هست </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-xl-3 ">

    <!-- Profile -->
    <div class="card">
        <div class="card-body d-flex align-items-center gap-2">
            <img src="~/admin_temp/images/7.jpg" alt="" class="img-fluid rounded-circle " width="70">
            <div>
                <h6 class="fw-bold">علیرضا صیفی</h6>
                <p class="text-muted mb-0 dir-ltr">@@alirezaseyfi</p>
            </div>
        </div>
    </div>

    <!-- Users -->
    <div class="card mt-2">

        <div class="card-header">
            <h5 class="fw-bold mb-0">تست </h5>
        </div>

        <div class="card-body d-flex flex-column gap-4">

            <div class="d-flex align-items-center gap-2">
                <img src="~/admin_temp/images/5.jpg" alt="" class="img-fluid rounded-circle" width="50">
                <div>
                    <h6 class="fw-bold fs-8">علیرضا صیفی</h6>
                    <p class="text-muted mb-0 dir-ltr fs-8">@@alirezaseyfi</p>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <img src="~/admin_temp/images/5.jpg" alt="" class="img-fluid rounded-circle" width="50">
                <div>
                    <h6 class="fw-bold fs-8">علیرضا صیفی</h6>
                    <p class="text-muted mb-0 dir-ltr fs-8">@@alirezaseyfi</p>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <img src="~/admin_temp/images/5.jpg" alt="" class="img-fluid rounded-circle" width="50">
                <div>
                    <h6 class="fw-bold fs-8">علیرضا صیفی</h6>
                    <p class="text-muted mb-0 dir-ltr fs-8">@@alirezaseyfi</p>
                </div>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary fs-8">نمایش</button>
            </div>

        </div>

    </div>

    <!-- Chart 2 -->
    <div class="row">
        <div class="col-xl-12 col-6">
            <div class="card mt-2">

                <div class="card-header">
                    <h5 class="fw-bold mb-0">تست </h5>
                </div>

                <div class="card-body">
                    <div>
                        <canvas id="chart2"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>