<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <partial name="_CssFiles" />
</head>

<body>

    @await Component.InvokeAsync("Menu")

    @* Main *@
    <div>
        @RenderBody()
    </div>

    @await Component.InvokeAsync("Footer")

    <partial name="_JsFiles" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>